.container-fluid {
    height: 100vh;
    display: flex;
    color: white;
}

.clean-link {
    text-decoration: none;
    color: white;
}

#back-button {
    color: white;
    text-decoration: none;
}

#back-button:hover {
    text-decoration: none;
    color: black;
}

#cap1 {
    background-color: lightblue;
}

#cap2 {
    background-color: navajowhite;
}

#cap3 {
    background-color: lightsalmon;
}

#location-input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.navigate-button {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 0;
    border: 0;
    transition: 0.3s;
}

.navigate-button:hover {
    text-decoration: none;
    color: black;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 0.8 !important;
}

.form-control-lg::placeholder {
    color: white !important;
    opacity: 0.8 !important;
}

input[type=text] {
    color: white;
} 